<div class="navbar">
    <div class="navbar-box mx-auto">
      <div class="my-auto">
        <%=link_to image_tag('mixit3.png', class: 'navbar-logo'), root_path %>
      </div>
      <%=link_to image_tag('girl.jpg', width: '80px', class: 'avatar-new', style: "width: 47px;"), error_path %>
    </div>
  </div>
