<div class="devise-container">
  <div class="devise-form-container mx-auto">
    <%= cl_image_tag('https://images.unsplash.com/photo-1559849327-e27ed9234e35?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', width: '40%', height: '470px;', style: 'object-fit: cover;') %>
    <div class="col-md-6 my-5 mx-auto">
      <h1>New dose:</h1>
      <%= render 'form',dose: @dose %>
    </div>
  </div>
</div>






