<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card p-5">
        <div>
        <h1>New dose:</h1>
        <%= render 'form',dose: @dose %>
        <div class="mt-3">
          <%= link_to'Back', cocktail_path(@cocktail) %>
        </div>
      </div>
    </div>
  </div>
</div>

