<div class="container mt-4 mb-5">
  <div class="dose-form-container d-flex justify-content-between mx-auto bg-white" style="width: 90%;">
    <%= cl_image_tag('https://images.unsplash.com/photo-1559849327-e27ed9234e35?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', width: '40%', height: '470px;', style: 'object-fit: cover;') %>
    <div class="col-md-6 my-auto mx-auto">
      <h1 style="color: #3C3C3B">New dose:</h1>
      <%= render 'form',dose: @dose %>
    </div>
  </div>
</div>






