<div class="navbar brand border-bottom">
  <%=link_to image_tag('logo_mixit.png', width: '80px', class: 'logo'), root_path %>
  <img  class="avatar-new" src="<%= asset_path 'girl.jpeg' %>" style="width: 47px;" alt="">
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card p-5">
        <div>
        <h1>New dose:</h1>
        <%= render 'form',dose: @dose %>
        <div class="mt-3">
          <%= link_to'Back', cocktail_path(@cocktail) %>
        </div>
      </div>
    </div>
  </div>
</div>

