
<!-- <div class="container mt-4 mb-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card p-5">
        <div>
        <h1>New dose:</h1>
        <%#= render 'form',dose: @dose %>
        <div class="mt-3">
          <%#= link_to'Back', cocktail_path(@cocktail) %>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->

<div class="footer mx-5 px-5">
      <p>Made with ♥️and glass of wine</p>
</div>

