<div class="error d-flex align-items-center" style="background-image: url(<%= image_path "error.jpg"%>);">

</div>

<div class="foot mb-3" >
<a style="color: black;" href="https://www.vecteezy.com/free-vector/oops">Oops Vectors by Vecteezy</a>
</div>
