<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.01)), url(https://images.unsplash.com/photo-1518619660967-1d65afe62056?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="">
    <div class="navbar bg-transparent brand border-none mx-5 px-3">
      <%=link_to image_tag('logo_mixit.png', width: '80px', class: 'logo'), root_path %>
      <%=link_to image_tag('girl.jpeg', width: '80px', class: 'avatar-new', style: "width: 47px;"), error_path %>
    </div>
  </div>

<div class="label">
  <div class="row">
    <h5>Cocktails Recipes Collection</h5>
  </div>
  <div class="row my-5">
    <%= link_to 'See more', cocktails_path, class: "btn btn-ghost" %>
  </div>
</div>


  </div>
    <div class="foot mx-4">
      <p>Made with ♥️and glass of wine</p>
    </div>
</div>
<!--  -->
