<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.01)), url(https://images.unsplash.com/photo-1518619660967-1d65afe62056?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="navbar bg-transparent brand border-none mx-5 px-3">
    <%=link_to image_tag('logo_mixit.png', width: '80px', class: 'logo'), root_path %>
    <%=link_to image_tag('girl.jpeg', width: '80px', class: 'avatar-new', style: "width: 47px;"), error_path %>
  </div>
  <!-- body -->
    <div class="label text-align-right">
      <h5 class="pr-2">Cocktails Recipes Collection</h5>
      <div class="row">
        <%= link_to (cocktails_path) do %>
          <div class="button-frame">
            <span> Start </span>
            <svg>
              <polyline class="o1" points="0 0, 130 0, 130 45, 0 45, 0 0"></polyline>
              <polyline class="o2" points="0 0, 130 0, 130 45, 0 45, 0 0"></polyline>
            </svg>
          </div>
        <% end %>
      </div>
    </div>
  <!-- body end -->
</div>

<!-- footer -->
  <div class="foot">
    <p>Made with ♥️and glass of wine</p>
  </div>
<!-- footer end -->
