.footer {
  background-color: white;
  width: 100%;
  // align-items: center;
  border: top;
  // margin-bottom: 0;
  height: 7%;
  // padding-bottom: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
  // justify-content: center;
}

.footer p {
  font-weight: lighter;
  color: gray;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
