// used for all pages except home page
.footer {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: -50px;
  clear: both;
  text-align: center;
  text-shadow: none;
  background-color: transparent;
    p {
      font-size:15px;
      font-weight: lighter;
      color: black;
    }
}
