// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import 'cards';
@import 'card';
@import 'banner';
@import 'button';
@import 'card_show';
@import 'card_button';

// // FORM START
.modal {
  overflow: auto;
}
.modal-content {
  border-radius: 6px;
}
.close:focus {
  outline: none;
}
// input field css:
.input-effect {
  background-color: white;
  &:after {
    background-color: white;
  }
}
input:focus {
  outline: none;
}
.effect-18:focus {
  box-shadow: none;
  background-color: white;
  border-color: transparent;
}
.effect-18 {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: white;
}
.effect-18 ~ .focus-border {
  position: absolute;
  bottom: 0; left: 50%;
  width: 0; height: 2px;
  background-color: $darkpeach;
  transition: 0.4s;
}
.effect-18:focus ~ .focus-border,
.has-content.effect-18 ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}
.effect-18 ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: black;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.effect-18:focus ~ label, .has-content.effect-18 ~ label {
  top: -16px;
  font-size: 12px;
  color: black;
  transition: 0.3s;
}
.upload-photo-link {
  margin-top: auto;
  border: gray solid 1px;
  border-radius: 6px !important;
  padding: 11px 20px;
  cursor: pointer;
  font-weight: lighter;
  color: gray;
  background: white;
  border-radius: 2px;
  transition: 0.5s;
    &:hover {
      color: $peach;
      border: $darkpeach solid 1px;
      border-radius: 6px;
    }
}
// input field css end

// upload file css:
.hidden {
  display: none;
}

.create-button {
  align-item: center;
  border-radius: 6px;
  background-color: transparent;
  color: $darkpeach;
  cursor: pointer;
  border: $darkpeach solid 1px;
  padding: 12px 20px;
    &:hover {
      border: $darkpeach solid 1px;
      color: white;
      background-color: $darkpeach;
    }
}
// upload file css end

// centering the form:
.upload-btn-wrapper, .form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:auto;
    img {
      object-fit: cover;
      border-radius: 6px;
      margin-top: 0;
      margin-bottom: 2%;
    }
}
// // FORM END


.container {
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-wrapper {
  width: 95%;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5%;
  color: #2D2628;
    p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.gradient-effect{
  position: relative;
  display: block;

    &::before {
      border-radius: 6px;
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      right: 0;
      height: 100.5%;
      width: 101%;
      background: -webkit-linear-gradient(rgba(44, 62, 80, 0.8), rgba(251, 184, 141, 0.1));
    }
}

.card-wrapper {
  width: 290px;
  height: 370px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  backface-visibility: hidden;
  border-radius: 6px;


  .name {
    width: 100%;
    position: absolute;
    top: 35%;
    padding-left: 15%;
    padding-right: 15%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  }

  .buttons {
    width: 78%;
    display: flex;
    justify-content: space-around;
    align-item: center;
      i {
        color: lightgray;
        font-size: 22px;
          &:hover {
            opacity: none;
            color: $darkpeach !important;
          }
      }
  }

  h1 {
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
  }

  // Adds depth
  perspective: 1000px;

  &:hover .card--front {
    transform: rotateY(-180deg);
    position: relative;
  }

  &:hover .card--back {
    transform: rotateY(0);
    position: absolute;
    top: 0;
    left: 0;
  }
}


.card {
  width: 290px;
  height: 370px;
  border-radius: 6px;
  // box-shadow: 0 15px 40px rgba(0,0,0, .15);
  transition: all 1s;
  backface-visibility: hidden;

    // .description {
    //   overflow: auto;
    //   backface-visibility: hidden;
    // }


  &.card--front {
    color: #fff;
  }

  &.card--back {
    // color: #fff;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.card .description {
    width: 98%;
    height: 73%;
    align-item: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    line-height: 1.4em;
    // overflow: auto;
    padding-right: 10px;

      .one-side {
        width: 33%;
        text-align: right;
        color: $darkpeach;
      }

      .two-side {
        width: 62%;
        text-align: left;
          i {
            color: lightgray;
            font-size: 14px;
              &:hover {
                color: $peach;
              }
          }
      }

      h2 {
        color: #3C3C3B;
        font-size: 15px;
        font-weight: 100;
      }
    // -webkit-overflow-scrolling: touch;
    // -webkit-backface-visibility: hidden;
    // -webkit-transition: all 500ms linear;
  }

i .fa-exclamation-circle {
  color: $darkpeach !important;
}







