.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  top: 15px;
  left: 20px;
}



.navbar-lewagon {
  // flex-grow: 0;
}

.navbar-lewagon.navbar-brand img {
  width: 80px;
  padding: 25px;
}

.navbar {
  justify-content: space-between;
  background: white;
  height: 60px;
  // position: absolute;

}

.navbar {
  flex-grow: 0;
}

// .navbar.logo img {
//   width: 40px;
// }
