
.navbar {
  width: 100%;
  background: white;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
  // box-shadow: 0 15px 40px rgba(251, 184, 141, 0.05);
    .navbar-box {
      width: 80%;
      display: flex;
      justify-content: space-between;
    }

    .navbar-logo {
      height: 20px;
    }
}


.navbar {
  flex-grow: 0;
}

// .navbar.logo img {
//   width: 40px;
// }
