// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/flex_container";
@import "components/footer";
@import "components/button-frame";
@import "components/add_remove_buttons";
@import "components/error-message";
@import "doses";

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  background-color: #f7f7f7;
}

.container {
  min-height: 90vh;
}

#main {
  overflow: auto;
  padding-bottom: 10%;
}

a {
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    // opacity: 0.7;
  }
}

a {
  color: gray;
    &:hover {
      color: $darkpeach !important;
    }
}

#alert-window {
  position: absolute;
  padding: 16px 24px;
  background: white;
  bottom: 15px;
  right: 15px;
  width: 260px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  // height: 100px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  cursor: pointer;
}
.notice {
  border: 2px solid #1EDD88;
}
.alert {
    border: 2px solid #FFC65A;
}
