// Place all the styles related to the doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dose-form-container {
  color: #3C3C3B;
  width: 80%;
  display: flex;
  direction: flex-row;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

a {
  color: #3C3C3B !important;
    &:hover {
      color: $darkpeach !important;
    }
}
